.Header {
    display: block;
    padding: 5px 0;
    margin: 5px auto 7px;
  }
  .search {
    border: solid 1px rgba(100, 148, 202, 0.7);
    border-radius: 25px;
    color: rgb(87, 87, 87);
    background: rgb(203, 234, 237);
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/Search_icon-72a7cf.svg/20px-Search_icon-72a7cf.svg.png);
    background-repeat: no-repeat;
    background-position: 5px 4px;
    padding-left: 30px;
    padding-right: 5px;
    width: 7rem;
    transition: all 0.4s ease-in-out;
  }
  .search:focus {
    border: solid 1px #007bff82;
    border-radius: 25px;
    box-shadow: 0px 0px 9px 5px rgb(0 255 245 / 49%);
    width: 10rem;
  }
  